body.messages.read #content {
    .message {
        margin-left: $base-spacing;
        margin-bottom: $small-spacing;
        width: 500px;
        word-wrap: break-word;

        p {
            margin: 0;
            &.small {
                font-size: smaller;
            }
        }
    }
}
