body.messages.read #content {
    .message {
        margin-left: $base-spacing;
        margin-bottom: $small-spacing;
        p {
            margin: 0;
            &.small {
                font-size: smaller;
            }
        }
    }
}
