{% extends "base.html" %}
{% set page="messages hack" %}
{% block title %}{{ super() }} | Hack Message{% endblock %}
{% from "macros.html" import field %}
{% block content %}
<h2>Hack Message</h2>
<p>For easy reading the spaces below have been replaced with underscores.</p>
<p><label>Cipher:</label> {{ message.cipher }}</p>
{% if see_key %}<p><label>Key:</label> <pre>{{ message.key | display }}</pre></p>{% endif %}
<p><label>Ciphertext:</label> <pre>{{ message.ciphertext | display }}</pre></p>
{% if see_plaintext %}<p><label>Plaintext:</label> <pre>{{ message.plaintext | display }}</pre></p>
{% elif message.group.name != "Billy" %}<p><a class="button" href="{{ url_for('.messages_plaintext', mid=message.mid) }}">Request Plaintext</a> (-5 points)</p>{% endif %}
{% if not (see_key and see_plaintext) %}
<form method="POST">
    {{ form.hidden_tag() }}
    {% if not see_key %}{{ field(form.key) }}{% endif %}
    {% if not see_plaintext %}{{ field(form.plaintext) }}{% endif %}
    <input type="submit" value="Hack">
</form>
{% endif %}
{% endblock %}
