{% extends "base.html" %}
{% set page="messages read" %}
{% block title %}{{ super() }} | Read Messages{% endblock %}
{% block content %}
<h2>Read Messages</h2>
{% for group in messages | sort(attribute='ciphertext') | groupby('group_id') %}
<div class="group">
    <h3>Sent by: <a class="toggle-group" href="#toggle-group">{{ group.list[0].group.name }}</a></h3>
    {% for m in group.list %}
        <div class="message hidden">
            <p><a class="toggle-message" href="#toggle-message">{{ m.ciphertext }}</a></p>
            <p class="small details hidden">
                Cipher: {{ m.cipher | title }}
            </p>
            <p class="small details hidden">
               <a href="{{ url_for('.messages_hack', mid=m.mid)}}">Hack message</a>
            </p>
            <p class="small details hidden">
                <a href="{{ url_for('.messages_read', key=m.key_id)}}">See other messages encrypted with this key</a>
            </p>
            <p class="small details hidden">
                <a href="{{ url_for('.messages_read', cipher=m.cipher)}}">See other messages encrypted with this cipher</a>
            </p>
        </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
