{% extends "base.html" %}
{% set page="messages read" %}
{% block title %}{{ super() }} | Read Messages{% endblock %}
{% block content %}
<h2>Read Messages</h2>
<table>
    <thead>
        <tr>
            <th class="group">Group</th>
            <th class="ciphertext">Ciphertext</th>
            <th class="plaintext">P</th>
            <th class="key">K</th>
        </tr>
    </thead>
    <tbody>{% for m in messages | sort(attribute='sent_at', reverse=True) %}
        <tr>
            <td class="group">{{ m.group.name }}</td>
            <td class="ciphertext"><a href="{{ url_for('bp.messages_hack', mid=m.mid) }}">{{ m.ciphertext }}</a></td>
            <td class="plaintext">{% if current_user.knows_plaintext(m) %}&#10004;{% endif %}</td>
            <td class="key">{% if current_user.knows_key(m) %}&#10004;{% endif %}</td>
        </tr>
    {% endfor %}</tbody>
</table>
{% endblock %}
