.cipher {
    h3 {
        margin-top: 20px;
    }
    .key {
        label {
            display: inline-block;
            margin-right: 10px;
        }
        input {
            display: inline-block;
            width: 60px;
        }
    }
    .crypt {
        font-size: 2em;
        font-style: italic;
        font-weight: 300;

        .normal {
            font-style: normal;
            font-weight: normal;
        }
    }
    .eg {
        margin-left: 20px;
        .label {
            display: inline-block;
            width: 100px;
            text-align: right;
        }
    }
}