.cipher {
    h3 {
        margin-top: 20px;
    }
    .key {
        label {
            display: inline-block;
            margin-right: 10px;
        }
        input {
            display: inline-block;
            width: 60px;
        }
    }
    .crypt {
        font-size: 2em;
        font-style: italic;
        font-weight: 300;

        .normal {
            font-style: normal;
            font-weight: normal;
        }
    }
    .eg {
        margin-left: 20px;
        .label {
            display: inline-block;
            width: 100px;
            text-align: right;
        }
    }

    &.fleissner {
        .key table {
            text-align: center;
            td {
                border: 1px solid $base-border-color;
                
                input {
                    width: auto;
                }
            }
        }
    }
    &.mixed, &.pigpen {
        .key table {
            text-align: center;
            td {
                padding: 0;
                border: none;
                &:nth-child(2n+1) {
                    background-color: $base-border-color;
                }
                input {
                    width: 30px;
                    margin: 5px;

                    &.error {
                        background-color: $error-back-color;
                        color: $error-front-color
                    }
                }
            }
        }
    }
    &.pigpen {
        .pigpen {
            font-family: 'PigPen';
        }
    }
}