#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;
    margin: 0 20px 0 0;

    .all {
        padding: 20px;

        ul {
            margin-left: 20px;
        }
    }
}