{% extends "base.html" %}
{% set title="Affine Cipher" %}
{% set page="cipher affine" %}
{% block content %}
<h2>Affine Cipher</h2>
<p>An Affine cipher is a very simple substitution cipher that uses a padding scheme and modular arithmetic.</p>

<p>The secret key for the Affine cipher is made up of three numbers; <strong>a</strong>, <strong>b</strong>, and <strong>c</strong>. When creating a key you can pick any number at all for <strong>b</strong>. There is a complicated relationship between <strong>a</strong> and <strong>c</strong> that restricts which numbers you can choose. To help you out, the key section below automatically calculates <strong>c</strong> when you give a value for <strong>a</strong>. If you type a value for <strong>a</strong> in the box below and no value for <strong>c</strong> is automatically produced, you need to choose a different <strong>a</strong> value.</p>

<p>To encrypt a single letter, first use the padding scheme to turn the letter into a number. Multiply that number by <strong>a</strong> and then add <strong>b</strong>. The resulting number could be bigger than 100, this would mean that the padding scheme cannot turn it into a letter. To avoid this, calculate your number modulo 100. Now you can safely use the padding scheme to produce a cipher letter. Repeat this for every letter in your plain text message and combine each of the cipher letters to form your cipher text.</p>

<p>To decrypt a single letter, you need to do the opposite of the encryption. Start by turning the letter into a number using the padding scheme. Now take away <strong>b</strong> then multiply by <strong>c</strong>. As you did before, calculate the result modulo 100 and turn that number into a letter using the padding scheme. Apply this decryption process to every letter in the cipher text to decrypt the whole message.</p>

<p><a href="http://en.wikipedia.org/wiki/Affine_cipher" target="_blank">Wikipedia</a></p>

<h3>Key</h3>
<p>KEEP THIS SAFE!</p>
<div class="key">
    <div><label>a = </label><input type="number" id="a" /></div>
    <div><label>b = </label><input type="number" id="b" /></div>
    <div><label>c = </label><input type="number" id="c" disabled /></div>
</div>

<h3>Encrypt</h3>
<div class="crypt">
    (<span class="a"></span>*<span class="normal">plain</span> + <span class="b"></span>) mod 100 = <span class="normal">cipher</span>
</div>
<div class="eg">
    <ul>
        <li>e.g. </li>
        <li><span class="label">plain letter:</span> @</li>
        <li><span class="label">padding:</span> @ => 22</li>
        <li><span class="label">encrypt:</span> (<span class="a"></span>*22 + <span class="b"></span>) mod 100 = <span class="e1"></span> mod 100 = <span class="e2"></span></li>
        <li><span class="label">cipher letter:</span> <span class="e2"></span> => <span class="e3"></span></li>
    </ul>
</div>
<h3>Decrypt</h3>
<div class="crypt">
    <span class="c"></span>*(<span class="normal">cipher</span> - <span class="b"></span>) mod 100 = <span class="normal">plain</span>
</div>
<div class="eg">
    <ul>
        <li>e.g. </li>
        <li><span class="label">cipher letter:</span> <span class="e3"></span></li>
        <li><span class="label">padding:</span> <span class="e3"></span> => <span class="e2"></span></li>
        <li><span class="label">decrypt:</span> <span class="c"></span>*(<span class="e2"></span> - <span class="b"></span>) mod 100 = <span class="e4"></span> mod 100 = 22</li>
        <li><span class="label">plain letter:</span> 22 => @</li>
    </ul>
</div>
{% endblock %}