{% extends "base.html" %}
{% set title="Mixed Alphabet Cipher" %}
{% set page="cipher mixed" %}
{% block content %}
<h2>Mixed Alphabet Cipher</h2>
<p>The Mixed Alphabet Cipher is a very simple substitution cipher that simply replaces letters in the plain text with other letters according to a key. Each plain letter is always replaced by the same cipher letter (e.g. the letter 'a' might always encrypt to the letter 'J'). To decrypt you simply use the key in reverse to undo the first replacement.</p>

<p>The key below is an example of a mapping between letters. Change the letters to form your own key and see what happens to the examples.</p>

<p><a href="http://en.wikipedia.org/wiki/Substitution_cipher#Simple_substitution" target="_blank">Wikipedia</a>
| <a href="/static/mixed.pdf" target="_blank">Instruction Sheet</a></p>

<h3>Key</h3>
<p>KEEP THIS SAFE!</p>
<div class="key">
    <table>

    </table>
    <div class="missing">Missing letters: <span></span></div>
</div>

<h3>Example</h3>
<div class="eg">
    <ul>
        <li><span class="label">plain text:</span> Hello</li>
        <li><span class="label">cipher text:</span> <span class="e1"></span></li>
    </ul>
</div>
{% endblock %}