{% extends "base.html" %}
{% set title="Myszkowski Cipher" %}
{% set page="cipher myszkowski" %}
{% block content %}
<h2>Myszkowski Cipher</h2>

<p>Myszkowski ciphers are interesting transposition ciphers that use a code word to shuffle letters in a message.</p>

<p>The key to a Myszkowski cipher is a code word that has repeated letters in it. A memorable word, like TOMATO, might be used, but you could also make up a random code word, like AAFIFK</p>

<p>To encrypt a message write your code word at the top of a grid. Beneath the codeword, write your message from left to right, moving down a column when you reach the end of the grid. When you have written your entire message out beneath the codeword read our down each column, in alphabetical order. So for a code word TOMATO you would first read the column with the letter A at the top. When you read a column that has a matching column header (e.g. the O in TOMATO) read all columns simultaneously from left to right.</p>

<p>To decrypt a message write the code word at the top of a grid. To see how many rows your grid will need, divide the length of the cipher text by the length of the code word and round up. Now write you cipher into your grid filling up the columns in alphabetical order. When you fill up a column with a repeated header, do the opposite to the encryption and write into all the columns at once.</p>

<p>
    <a href="http://en.wikipedia.org/wiki/Transposition_cipher#Myszkowski_transposition" target="_blank">Wikipedia</a>
     | <a href="/static/myszkowski.pdf" target="_blank">Instruction Sheet</a>
</p>

<h3>Key</h3>
<div class="key">
    <label>Codeword:</label>
    <input id="codeword" type="text" value="TOMATO" />
    <table>

    </table>
</div>

<h3>Example</h3>
<div class="eg">
    <ul>
        <li><span class="label">plain text:</span> Hello scholars!</li>
        <li><span class="label">cipher text:</span> <span class="e1"></span></li>
    </ul>
</div>
{% endblock %}