{% extends "base.html" %}
{% set title="Padding" %}
{% set page="padding" %}
{% block content %}
<h2>Padding Scheme</h2>
<p>Some ciphers require numbers instead of letters in order to encrypt. A padding scheme tells you how to convert a letter into a number and a number back to a letter.</p>

<h3>Download</h3>
<p>You can download our <a href="{{ url_for('static', filename='paddingscheme.pdf') }}">padding scheme</a>, there should also be some print outs somewhere.</p>

<h3>Convert</h3>

<label for="letters">Letters</label>
<input id="letters" type="text" placeholder="e.g. Hello world!" />
<label for="letters">Numbers</label>
<p id="letters-output"></p>

<label for="numbers">Numbers</label>
<input id="numbers" type="text" placeholder="e.g. 00264591264576" />
<label for="numbers">Letters</label>
<p id="numbers-output"></p>
{% endblock %}