{% extends "base.html" %}
{% set title="Pig Pen Cipher" %}
{% set page="pigpen cipher" %}
{% block content %}
<h2>Pig Pen Cipher</h2>
<p>The Pig Pen cipher is a fun cipher that encrpyts letter in a very similar way to the mixed alphabet cipher. The difference is that letters are substituted for symbols instead of letters. This makes encrypted messages look very odd and complicated.</p>

<p>The instruction sheet contains a good example of how pig pen works. Draw grids of shapes and fill the shapes with letters. The lines that enclose a letter form its symbol. If a symbol is duplicated then add a dot to it so you can tell the difference between the encrypted symbols.

<p><a href="http://en.wikipedia.org/wiki/Pigpen_cipher" target="_blank">Wikipedia</a></p>

<h3>Key</h3>
<p>KEEP THIS SAFE!</p>
<div class="key">
    <table>
    <tr>
        <td class="pigpen">A</td><td><input data-cipher="A" type="text" value="F" /></td>
        <td class="pigpen">B</td><td><input data-cipher="B" type="text" value="E" /></td>
        <td class="pigpen">C</td><td><input data-cipher="C" type="text" value="D" /></td>
        <td class="pigpen">D</td><td><input data-cipher="D" type="text" value="C" /></td>
        <td class="pigpen">E</td><td><input data-cipher="E" type="text" value="B" /></td>
        <td class="pigpen">F</td><td><input data-cipher="F" type="text" value="A" /></td>
    </tr>
    <tr>
        <td class="pigpen">G</td><td><input data-cipher="G" type="text" value="L" /></td>
        <td class="pigpen">H</td><td><input data-cipher="H" type="text" value="K" /></td>
        <td class="pigpen">I</td><td><input data-cipher="I" type="text" value="J" /></td>
        <td class="pigpen">J</td><td><input data-cipher="J" type="text" value="I" /></td>
        <td class="pigpen">K</td><td><input data-cipher="K" type="text" value="H" /></td>
        <td class="pigpen">L</td><td><input data-cipher="L" type="text" value="G" /></td>
    </tr>
    <tr>
        <td class="pigpen">M</td><td><input data-cipher="M" type="text" value="R" /></td>
        <td class="pigpen">N</td><td><input data-cipher="N" type="text" value="Q" /></td>
        <td class="pigpen">O</td><td><input data-cipher="O" type="text" value="P" /></td>
        <td class="pigpen">P</td><td><input data-cipher="P" type="text" value="O" /></td>
        <td class="pigpen">Q</td><td><input data-cipher="Q" type="text" value="N" /></td>
        <td class="pigpen">R</td><td><input data-cipher="R" type="text" value="M" /></td>
    </tr>
    <tr>
        <td class="pigpen">S</td><td><input data-cipher="S" type="text" value="X" /></td>
        <td class="pigpen">T</td><td><input data-cipher="T" type="text" value="W" /></td>
        <td class="pigpen">U</td><td><input data-cipher="U" type="text" value="V" /></td>
        <td class="pigpen">V</td><td><input data-cipher="V" type="text" value="U" /></td>
        <td class="pigpen">W</td><td><input data-cipher="W" type="text" value="T" /></td>
        <td class="pigpen">X</td><td><input data-cipher="X" type="text" value="S" /></td>
    </tr>
    <tr>
        <td class="pigpen">Y</td><td><input data-cipher="Y" type="text" value=" " /></td>
        <td class="pigpen">Z</td><td><input data-cipher="Z" type="text" value="Y" /></td>
        <td class="pigpen"> </td><td><input data-cipher=" " type="text" value="Z" /></td>
    </tr>
    </table>
    <div class="missing">Missing letters: <span></span></div>
</div>

<h3>Encrypt</h3>
<div class="eg">
    <ul>
        <li>e.g. </li>
        <li><span class="label">plain text:</span> HELLO</li>
        <li><span class="label">cipher text:</span> <span class="pigpen e1"></span></li>
    </ul>
</div>
<h3>Decrypt</h3>
<div class="eg">
    <ul>
        <li>e.g. </li>
        <li><span class="label">cipher text:</span> <span class="pigpen e1"></span></li>
        <li><span class="label">plain text:</span> HELLO</li>
    </ul>
</div>

{% endblock %}