{% extends "base.html" %}
{% set title="Playfair Cipher" %}
{% set page="playfair cipher" %}
{% block content %}
<h2>Playfair Cipher</h2>
<p>The Playfair cipher is an interesting cipher that replaces single letters with a pair of letters. This makes hacking the encryption much harder than most substitution ciphers.</p>

<p>A Playfair cipher key is a 5x5 grid filled with letters. The grid only has space for 25 letters in total, so you can choose to either ignore the letter Q or to use I and J interchangably. To fill the grid, think of a phrase and write the phrase, letter by letter, into the grid. When you come to a letter that you have already written down, skip it. If you reach the end of your message and you still have spaces in your grid. Simply fill in the empty spaces with the left over letters in alphabetical order. You should end up with a grid like the one below.</p>

<p>To encrypt a message take the first two letters and apply the following rules:</p>
<ul class="intro">
    <li>If the letters are the same, add an X after the first one (e.g. AA would become AXA)</li>
    <li>If the letters are on the same row of the key, replace them with the letters to their right. Wrap around the table if needed.</li>
    <li>If the letter are in the same column, replace them with the letters below. Wrap around the table if needed.</li>
    <li>If the letters are on different rows and columns then replace the letters with the letter that lies on the same row but it is in the column of the other.</li>
</ul>
<p>Repeat this method for each pair of letter in the message. Add an extra X if you are left with a single letter.</p>

<p>To decrypt simply do the opposite of the last three rules above. You'll need to get rid of any odd looking Xs</p>

<p><a href="http://en.wikipedia.org/wiki/Playfair_cipher" target="_blank">Wikipedia</a>
| <a href="/static/playfair.pdf" target="_blank">Instruction Sheet</a></p>

<h3>Key</h3>
<p>KEEP THIS SAFE!</p>
<div class="key">
    <table>
    <tr>
        <td><input type="text" class="0-0" value="W" /></td>
        <td><input type="text" class="1-0" value="E" /></td>
        <td><input type="text" class="2-0" value="L" /></td>
        <td><input type="text" class="3-0" value="C" /></td>
        <td><input type="text" class="4-0" value="O" /></td>
    </tr>
    <tr>
        <td><input type="text" class="0-1" value="M" /></td>
        <td><input type="text" class="1-1" value="T" /></td>
        <td><input type="text" class="2-1" value="V" /></td>
        <td><input type="text" class="3-1" value="I" /></td>
        <td><input type="text" class="4-1" value="R" /></td>
    </tr>
    <tr>
        <td><input type="text" class="0-2" value="S" /></td>
        <td><input type="text" class="1-2" value="P" /></td>
        <td><input type="text" class="2-2" value="A" /></td>
        <td><input type="text" class="3-2" value="K" /></td>
        <td><input type="text" class="4-2" value="B" /></td>
    </tr>
    <tr>
        <td><input type="text" class="0-3" value="D" /></td>
        <td><input type="text" class="1-3" value="F" /></td>
        <td><input type="text" class="2-3" value="G" /></td>
        <td><input type="text" class="3-3" value="H" /></td>
        <td><input type="text" class="4-3" value="N" /></td>
    </tr>
    <tr>
        <td><input type="text" class="0-4" value="J" /></td>
        <td><input type="text" class="1-4" value="U" /></td>
        <td><input type="text" class="2-4" value="X" /></td>
        <td><input type="text" class="3-4" value="Y" /></td>
        <td><input type="text" class="4-4" value="Z" /></td>
    </tr>
    </table>
    <div class="missing">Missing letters: <span></span></div>
</div>

<h3>Example</h3>
<div class="eg">
    <ul>
        <li><span class="label">plain text:</span> HELLO</li>
        <li><span class="label">cipher text:</span> <span class="e1"></span></li>
        <li><span class="label">decrypted:</span> <span class="e2"></span></li>
    </ul>
</div>
{% endblock %}