{% extends "base.html" %}
{% set title="Route Cipher" %}
{% set page="cipher route" %}
{% block content %}
<h2>Route Cipher</h2>

<p>Route ciphers are interesting transposition ciphers that involve reading letters out of a grid in any route at all. Unlike other transposition ciphers this cipher is very flexible, any route can be used, as long as you can remember it.</p>

<p>The key for a route cipher is the dimensions of the grid you write letters in to, and the route you use to read them out.</p>

<p>To encrypt a message write it into a grid of your specified dimensions. Then read the letters out as you travel your route through the grid. For example, you could use a 5x5 grid and travel a spiral route from the top left, clockwise towards the centre. The possibilities are nearly endless.</p>

<p>To decrypt a message write it back into a grid of the correct dimensions along the route. Then read out the letters left to right.</p>

<p>
    <a href="http://en.wikipedia.org/wiki/Transposition_cipher#Route_cipher" target="_blank">Wikipedia</a>
     | <a href="/static/route.pdf" target="_blank">Instruction Sheet</a>
</p>
{% endblock %}