{% extends "base.html" %}
{% set title="RSA Cipher" %}
{% set page="cipher rsa" %}
{% block content %}
<h2>RSA Cipher</h2>
<p>The Rivest, Shamir, Adleman (RSA) cryptosystem was one of the world's first public key encryption mechanisms. It uses some fairly complicated maths and relies on using massive prime numbers that are very difficult to manipulate.</p>

<p>This page shows a simplified version of the RSA mechanism. Simply provide a pass phrase and some text to be encrypted or decrypted and magic will happen.</p>

<p><a href="https://en.wikipedia.org/wiki/RSA_(cryptosystem)" target="_blank">Wikipedia</a>

<h3>Key</h3>
<p>KEEP THIS SAFE!</p>
<div class="key">
    <div><label>Passphrase</label><input type="text" id="passphrase" value="Not a good passphrase" /></div>
</div>

<h3>Encrypt</h3>
<div class="eg key">
    <textarea id="plaintext">Secret message</textarea>
    <div class="e1"></div>
</div>
<h3>Decrypt</h3>
<div class="eg key">
    <textarea id="ciphertext">CWm4G/2RgJWnEN/bJ918KL2IYr9BHXpPeRH/PRz8KleD8AKS11bv7i6LoKvWDLwkz2BTrjgRkVvgzswewg1doc7DDZylI3Ov51n6N2DnJc9yCgPWWFYeW4GbOpygYBN0C3T/Fr8B1EkuK5T/SGwxppHw6nnOiSLbZGCzbQmvSA0=?+mYq78DYrgHbT8so4W4m1LCLgNZ5N0kSdS1D6TynUEk=</textarea>
    <div class="e2"></div>
</div>
{% endblock %}