{% extends "base.html" %}
{% set title="Single Letter Grille Cipher" %}
{% set page="cipher singleletter" %}
{% block content %}
<h2>Single Letter Grille Cipher</h2>

<p>The Single Letter Grille Cipher is a simple transposition cipher that involves adding lots of random text to a message.</p>

<p>The key for a Single Letter Grille is a piece of paper with a grid marked out on it that has some squares cut out. This grid is the "grille".</p>

<p>To encrypt a message you place your grille over a blank sheet of paper and write the message into the spaces left by the grille. When you have written your entire message you remove the grille and fill in the rest of grid with random letters. Now combine the rows together in order to make a long and garbled sentence.</p>

<p>To decrypt a message you write the encrypted text onto a grid the same size as the grille. Now place the grille over the text and read out the letters that are revealed by the gaps in the grille.</p> 

<p>
    <a href="http://en.wikipedia.org/wiki/Grille_(cryptography)#Single-letter_grilles" target="_blank">Wikipedia</a>
     | <a href="/static/singleletter.pdf" target="_blank">Instruction Sheet</a>
</p>

<h3>Key</h3>
<p>KEEP THIS SAFE!</p>
<div class="key">
    <div><label>Dimensions = </label><input type="number" id="x" /> x <input type="number" id="y" disabled /></div>
    <table></table>
</div>

<h3>Example</h3>
<div class="eg">
    <ul>
        <li>e.g. </li>
        <li><span class="label">plain text:</span> Hello</li>
        <li><span class="label">cipher text:</span> <span class="e1"></span></li>
    </ul>
</div>
{% endblock %}