.cryptanalysis.frequency {
    table {
        td {
            padding: 0;
        }
    }
    textarea {
        white-space: nowrap;
    }
    h3 {
        font-size: 2em;
        margin: 0.3 * $base-spacing 0;
    }
}
