body.cipher #content {
    ul {
        @extend %default-ul;
        margin-left: $base-spacing;
    }
    ol {
        @extend %default-ol;
        margin-left: $base-spacing;
    }
    table, th {
        text-align: center;
    }
    .links {
        text-align: center;
    }
    .key {
        &.grid {
            table {
                &.compressed {
                    width: auto;
                    border-collapse: separate;
                    border-spacing: 1em;
                    td {
                        input {
                           margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
                td {
                    border: none;
                    padding: 0;
                    text-align: center;
                    input {
                        width: 2.5em;
                        text-align: center;
                    }
                }
            }
        }
    }
}
body.cipher.mixed #content {
    .key {
        input {
            font-family: monospace;
            font-size: 16px;
            letter-spacing: 5px;
        }
    }
}
body.cipher.fleissner #content,
body.cipher.railfence #content {
    .key {
        table {
            width: auto;
            margin: auto;
            td {
                width: 2em;
                height: 2em;
                padding: 0;
                border: 1px solid $action-color;
                &.X {
                    background-color: $action-color;
                }
            }
        }
    }
}
body.cipher.fleissner #content .key table td {
    cursor: pointer;
}
