body.cipher #content {
    ul {
        @extend %default-ul;
        margin-left: $base-spacing;
    }
    .links {
        text-align: center;
    }
    .key {
        &.grid {
            text-align: center;
            table {
                td {
                    border: none;
                    padding: 0;
                    text-align: center;
                    input {
                        width: 2.5em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}
body.cipher.mixed #content {
    .key {
        pre {
            font-size: 16px;
            margin: 0;
            letter-spacing: 5px;
        }
        input {
            font-family: monospace;
            font-size: 16px;
            padding: 0;
            border-top: none;
            border-right: none;
            border-left: none;
            letter-spacing: 5px;
        }
    }
}
