body.leaderboard #content {
    table {
        thead {
            .rank {
                width: 2em;
            }
            .points {
                width: 5em;
            }
        }
        .points {
            td {
                padding: 0;
            }
            table {
                margin: 0;
            }
        }
    }
    .group {

    }
}
