{% extends "base.html" %}
{% set page="cipher myszkowski" %}
{% block title %}{{ super() }} | Ciphers | Myszkowski{% endblock %}
{% block content %}
<h2>Myszkowski Cipher</h2>

<p>Myszkowski ciphers are interesting transposition ciphers that use a code word to shuffle letters in a message.</p>

<p>The key to a Myszkowski cipher is a code word that has repeated letters in it. A memorable word, like TOMATO, might be used, but you could also make up a random code word, like AAFIFK</p>

<p>To encrypt a message, write your code word at the top of a grid. Beneath the codeword, write your message from left to right, moving down a column when you reach the end of a row.</p>

<p>For example, with code word TOMATO and message "WATCH OUT":</p>

<table>
    <tr>
        <th>T</th>
        <th>O</th>
        <th>M</th>
        <th>A</th>
        <th>T</th>
        <th>O</th>
    </tr>
    <tr>
        <td>W</td>
        <td>A</td>
        <td>T</td>
        <td>C</td>
        <td>H</td>
        <td> </td>
    </tr>
    <tr>
        <td>O</td>
        <td>U</td>
        <td>T</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
</table>

<p>When you have written your entire message out beneath the codeword organise your columns so that your code word at the top is now in alphabetical order.</p>

<table>
    <tr>
        <th>A</th>
        <th>M</th>
        <th>O</th>
        <th>O</th>
        <th>T</th>
        <th>T</th>
    </tr>
    <tr>
        <td>C</td>
        <td>T</td>
        <td>A</td>
        <td> </td>
        <td>W</td>
        <td>H</td>
    </tr>
    <tr>
        <td> </td>
        <td>T</td>
        <td>U</td>
        <td> </td>
        <td>O</td>
        <td> </td>
    </tr>
</table>

<p>Now merge the columns that have matching code word letters (I've written the spaces as underscores below, so it's easier to see what's going on):</p>

<table>
    <tr>
        <th>A</th>
        <th>M</th>
        <th>O</th>
        <th>T</th>
    </tr>
    <tr>
        <td>C</td>
        <td>T</td>
        <td>A_</td>
        <td>WH</td>
    </tr>
    <tr>
        <td>_</td>
        <td>T</td>
        <td>U_</td>
        <td>O_</td>
    </tr>
</table>

<p>Finally, read out your cipher text column by column; left to right. Don't forget to include the spaces:</p>

<p>C_TTA_U_WHO_</p>

<p>To decrypt a message, write the code word at the top of a grid. To see how many rows your grid will need, divide the length of the cipher text by the length of the code word.</p>

<p>Now write your cipher text into your grid, filling up the columns in alphabetical order. When you fill up columns with repeated header letters, you'll have to fill all the repeated columns in simultaneously.</p>

<p class="links">
    <a href="http://en.wikipedia.org/wiki/Transposition_cipher#Myszkowski_transposition" target="_blank">Wikipedia</a>
    |
    <a href="{{ url_for('static', filename='worksheets/myszkowski.pdf') }}" target="_blank">Instruction Sheet</a>
</p>
{% endblock %}
