{% extends "base.html" %}
{% set page="playfair cipher" %}
{% block title %}{{ super() }} | Ciphers | Playfair{% endblock %}
{% block content %}
<h2>Playfair Cipher</h2>
<p class="links">
    <a href="http://en.wikipedia.org/wiki/Playfair_cipher" target="_blank">Wikipedia</a>
    |
    <a href="{{ url_for('static', filename='worksheets/playfair.pdf') }}" target="_blank">Instruction Sheet</a>
</p>
<p>The Playfair cipher is an interesting cipher that replaces pairs of letters with other pairs. Simpler substitution ciphers only replace single letters. This makes hacking the encryption much harder.</p>

<h3>Encrypting</h3>

<p>To encrypt a message, you'll need to pre-treat it. First replace all Js with Is and remove the spaces. Secondly, split the plain text into pairs of letters. If any pair is a double letter then put an X in between them. Your pair of letters is now a triple! So take the third letter and move it into the next pair. Continue until you have only pairs. If you have a single letter at the end, add an extra X to the end to make a pair.</p>

<p>For example the message "Just you see" would be treated like this:</p>

<ol>
    <li><code>JUST YOU SEE</code></li>
    <li><code>IUSTYOUSEE</code></li>
    <li><code>IU, ST, YO, US, EE</code></li>
    <li><code>IU, ST, YO, US, EXE</code></li>
    <li><code>IU, ST, YO, US, EX, E</code></li>
    <li><code>IU, ST, YO, US, EX, EX</code></li>
</ol>

<p>Take the letters two at a time from your treated plain text and apply the following rules:</p>

<ul>
    <li>If the letters are on the same row of the grid, replace them with the letters to their right. Wrap around the table if needed.</li>
    <li>If the letters are in the same column, replace them with the letters below. Wrap around the table if needed.</li>
    <li>If the letters are on different rows and columns then replace the letters with the letter that lies on the same row but it is in the column of the other.</li>
</ul>

<p>Repeat this method for each pair of letters in the message.</p>

<h3>Decrypting</h3>

<p>To decrypt a message you must go through the letters in the cipher text two by two. Apply the following rules:</p>

<ul>
    <li>If the letters are on the same row of the grid, replace them with the letters to their left. Wrap around the table if needed.</li>
    <li>If the letters are in the same column, replace them with the letters above. Wrap around the table if needed.</li>
    <li>If the letters are on different rows and columns then replace the letters with the letter that lies on the same row but it is in the column of the other.</li>
</ul>

<p>You may end up with a plaintext that has extra Xs in it. You can ignore those, hopefully the message still makes sense.</p>

<h3>Making Your Own Key</h3>

<p>To make your own grid (and therefore your own secret key) you must fill a 5x5 grid with letters. The grid will only have space for 25 letters in total, so don't use J or space. Fill your 5x5 grid with letters at random. Don't re-use letters and don't miss any out.</p>

<h3>Example</h3>

<p>Here's a grid that you can edit. When you change the letters in the grid the key will update and the example plaintext will be encrypted for you. Can you see how it all works?</p>

<div class="key grid">
    <label>Grid:</label>
    <table class="compressed">
        {% for i in range(0, 25, 5) %}
            <tr>
                {% for l in cipher.key[i:i+5] %}
                    <td><input type="text" value="{{ l }}" maxlength="1" /></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div class="key">
        <label>Key:</label>
        <pre></pre>
    </div>
</div>

<div class="plaintext">
    <label>Example Plaintext:</label>
    <pre>HELLO WORLD</pre>
</div>

<div class="ciphertext">
    <label>Example Ciphertext:</label>
    <pre></pre>
    <p class="error"></p>
</div>
{% endblock %}



{% block script %}
<script>
    new APP.playfair(".key.grid", "{{ cipher.alphabet }}");
</script>
{% endblock %}
